@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForbiddenAcces>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Model.Header</h1>
<span>@Model.Text</span>