@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

    <div>
        @Model.SiteTitle

        @Model.MainContent

    </div>


@Umbraco.RenderMacro("listNewestProjects")
