@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
var rootNode = Model.Content.Root();
var projectsOverviewNode = rootNode.FirstChildOfType("projectsOverview");
var projects = projectsOverviewNode.Children();
var completedProjects = projects.Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed");
var sortedCompletedProjects = completedProjects.OrderByDescending(x => x.CreateDate);
var top5SortedCompletedProjects = sortedCompletedProjects.Take(5);
}

<div>
    <h3>Completed projects</h3>
    <div class="bg-info">
        @foreach(var project in top5SortedCompletedProjects){
        <p>@project.Value("projectTitle")</p>
        }
    </div>
</div>
